<!--  spinner-->
<ngx-spinner></ngx-spinner>
<!-- la base dial 7za9-->
 
<div style="text-align:center">
  <h1>
    {{ title }}!
 </h1>
 <!--
  <button (click)="toggle()" id="bt">
    {{buttonName}}
</button>
<ng-container *ngIf="show">
  <p> haha</p>
</ng-container>
-->
<div class='parent'>
  <div class='child inline-block-child'>
    <input type="file" (change)="onFileChanged($event)"  > 
  </div>

  <div class='child inline-block-child'>
    <button (click)="onUpload()" class="btn btn-info">Lancer le scan!</button>
  </div>

</div>

<p></p>
<p></p>
<ng-container *ngIf="show">   
  <h4>{{ ocrResult }} </h4>
  
</ng-container>
   
 <!-- section UI du date-->
  <div class="panel panel-default"  >
    <div class="panel-heading">
      <p class="panel-title"><span style="color: 	#00BFFF;" 
  class="glyphicon glyphicon-time"> </span> -les dates proposées par l'OCR-</p>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
         
        <tbody>
        <tr *ngFor="let d of date">
          
          <td> {{d}} </td>
          
          <td> 
            <a href=" " class="btn btn-info">  choisir ça  </a>
            <a href=" " class="btn btn-success"><span class="glyphicon glyphicon-edit"> </span> Modifier  </a>
            <a href=" " class="btn btn-danger"><span class="glyphicon glyphicon-repeat"> </span> réinitialiser la page </a>
          </td>
        </tr>
        </tbody>
      </table>		
    </div>
  </div>


  <!-- section UI du montant-->
  <div class="panel panel-default"  >
    <div class="panel-heading">
      <p class="panel-title"><span style="color: 	#FFD700;" 
  class="glyphicon glyphicon-euro"> </span> -les montants proposés par l'OCR-</p>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
         
        <tbody>
        <tr *ngFor="let m of montant">
          <td></td>
          <td>{{m}}  </td>
           
          <td> 
            <a href=" " class="btn btn-info">  choisir ça  </a>
            <a href=" " class="btn btn-success"><span class="glyphicon glyphicon-edit"> </span> Modifier  </a>
            <a href=" " class="btn btn-danger"><span class="glyphicon glyphicon-repeat"> </span> réinitialiser la page </a>
          </td>
        </tr>
        </tbody>
      </table>		
    </div>
  </div>
 
